body {
    background-color: rgb(0, 7, 70);
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#editarBtn {
    width: 20%;
}

button {
    font-family: 'Poppins';
    border-radius: 4px;
    background-color: rgb(216, 210, 210);
    outline: none;
    width: 9%;
    height: 30%;
}

button:hover {
    background-color: beige;
}

h1 {
    text-align: center;
    margin-left: 18%;
    margin-top: 55px;
    width: 100%;
    color: rgb(255, 255, 255);
}

/* Container flexível para dividir a tela */
.container {
    display: flex;
    width: 150%;
    height: 80vh;
    background-color: white;
}

/* Sidebar fixa à esquerda */
.dados-user {
    width: 360px; 
    height: 110vh; 
    position: fixed; 
    left: 0; 
    top: 0;
    background-color: rgb(5, 12, 46);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.6);
}

.dados-user fieldset {
    width: 80%;
    margin-bottom: 30%;
    padding: 25px;
    border-radius: 12px;
    border-color: transparent;
    color: white;
}

.container-2 fieldset {
    border: #000;
}

input {
    width: 90%;
    padding: 8px;
    margin-top: 7px;
    border-radius: 5px;
}

button {
    margin-top: 16px;
    padding: 3px;
    cursor: pointer;
}


.agend-user {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.agend-user h3 {
    text-align: center;
    margin-bottom: 10px;
}
