* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('../images/Landing Page.png') no-repeat center center/cover;
    font-family: 'Poppins', sans-serif;
}

.modal {
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: 400px;
    text-align: center;
}

.modal h2 {
    margin-bottom: 20px;
    color: #08325f;
}

.modal input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.password-container {
    position: relative;
    width: 100%;
    margin-bottom: 10px; 
}

.password-container input {
    width: 100%;
    padding-right: 40px; 
}

.password-container .toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
    color: #777;
}

.modal button {
    width: 60%;
    padding: 10px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modal button:hover {
    background: #0056b3;
}