body{
font-family: 'Poppins';
}

fieldset {
    border: 2px solid #000; /* Cor e espessura da borda */
    border-radius: 10px; /* Arredonda os cantos */
    padding: 16px; /* Espaço interno */
    width: 600px;
}

form{
    padding: 2px;
}

button {
    border-radius: 4px;
    cursor: pointer;
    padding: 6px;
}