<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Consultas Médicas</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <h1>Bem-vindo ao Sistema de Consultas Médicas</h1>
    </header>
    <main>
        <div class="container">
            <h2>Escolha seu tipo de login</h2>
            <a href="/loginPaciente" class="btn">Sou Paciente</a>
            <a href="/loginDoutor" class="btn">Sou Doutor</a>
            <a href="/cadastroPaciente" class="btn">Cadastro Paciente</a>
            <a href="/cadastroDoutor" class="btn">Cadastro Doutor</a>
            
        </div>
    </main>
</body>
</html>
