body {
    background-color: rgb(0, 7, 70);
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

/* Sidebar */
.dados-user {
    width: 320px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgb(5, 12, 46);
    padding: 30px;
    box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.6);
}

.dados-user h3 {
    text-align: center;
}

/* Agendamento */
.agend-user {
    flex: 1;
    margin-left: 340px;
    padding: 10px;
    height: 600px;
    overflow: auto; /* se o conteúdo for maior, adiciona rolagem */
}

.agend-user fieldset {
    width: 100%;
    padding: 50px;
    border-radius: 12px;
    background-color: #f4f4f4;
    color: rgb(8, 0, 83);
}

/* Avaliação */
.star-rating {
    display: flex;
    justify-content: center;
    gap: 5px;
    font-size: 24px;
    cursor: pointer;
    color: #ccc;
}

.star-rating .fa-star.selected {
    color: gold;
}

/* Seção de Pagamento via pix */
.qr-section {
    margin-top: 10px;
}

.qr-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.qr-container img {
    width: 120px;
    height: 120px;
}

button {
    justify-content: center;
    padding: 10px 15px;
    background-color: #0056b3;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #004494;
}
