body {
    background-color: rgb(0, 7, 70);
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#editarBtn {
    width: 20%;
}

button {
    font-family: 'Poppins';
    border-radius: 4px;
    background-color: rgb(216, 210, 210);
    outline: none;
    width: 9%;
    height: 30%;
}

button:hover {
    background-color: beige;
}

h1 {
    text-align: center;
    margin-left: 18%;
    margin-top: 55px;
    width: 100%;
    color: rgb(255, 255, 255);
}

/* Container flexível para dividir a tela */
.container {
    display: flex;
    width: 150%;
    height: 100%;
    background-color: white;
}

/* Sidebar fixa à esquerda */
.dados-user {
    width: 360px; 
    height: 110vh; 
    position: fixed; 
    left: 0; 
    top: 0;
    background-color: rgb(5, 12, 46);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.6);
}

.dados-user fieldset {
    width: 80%;
    margin-bottom: 30%;
    padding: 25px;
    border-radius: 12px;
    border-color: transparent;
}

.dados-user fieldset label, h2 {
    color: white;
}

.agend-user {
    flex: 1; /* Ocupa o resto da tela */
    margin-left: 300px; /* Dá espaço para a sidebar */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.agend-user fieldset {
    height: 90%;
    width: 100%;
    padding: 50px 37px 37px;
    border-radius: 12px;
}

.agend-user h3, p {
    color: rgb(8, 0, 83);
    text-align: center;
    margin-bottom: 10px;
}

.agend-user input, .agend-user select {
    width: 27%;  /* Reduzindo o tamanho geral */
    padding: 8px;
    margin-top: 7px;
    margin-bottom: 17px;
    border-radius: 5px;
}

.data-agendamento {
    display: flex;
    align-items: center;
    gap: 10px; /* Espaço entre elementos */
}

#dataConsulta {
    width: 20%;  /* Diminuindo tamanho do input de data */
}

#agendarConsulta {
    width: 10%;  /* Botão do mesmo tamanho do input */
    font-size: 12px;
    padding: 5px;
    cursor: pointer;
    margin-bottom: 26px;
}

button {
    width: 20%;
    font-size: 11px;
    margin-top: 16px;
    margin-left: 9px;
    padding: 3px;
    cursor: pointer;
}

.agend-user {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.agend-user h3 {
    text-align: center;
    margin-bottom: 10px;
}

.dados-user input {
    width: 90%;
    padding: 8px;
    margin-top: 7px;
    border-radius: 5px;
}

.agend-user input {
    width: 30%;
    padding: 8px;
    margin-top: 7px;
    border-radius: 5px;
}

.proxima-pagina {
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: 0;
    width: 20%;
}

.cancelar-consulta{
    width: 13%;
}